Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033

Revert "refactor: set token for BinderHub in base config (#8470)"
  config/clusters/earthscope/binder.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/templates/common/binderhub-ui-hub.values.yaml
  docs/howto/features/binderhub-ui.md
  helm-charts/basehub/values.yaml
Owners: none

Revert "refactor: set token for BinderHub in base config (#8470)" (#8473)
  config/clusters/earthscope/binder.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/templates/common/binderhub-ui-hub.values.yaml
  docs/howto/features/binderhub-ui.md
  helm-charts/basehub/values.yaml
Owners: none

feat: bump leap image
  config/clusters/leap/daskhub-common.values.yaml
Owners: none

feat: bump leap image (#8474)
  config/clusters/leap/daskhub-common.values.yaml
Owners: none

Remove unecessary scopes from fancy-profiles binderhub role
  helm-charts/basehub/values.yaml
Owners: none

Add a couple of more instance type to the list
  eksctl/earthscope.jsonnet
Owners: none

[CloudBank] gpu-demo enable image puller
  config/clusters/cloudbank/gpu-demo.values.yaml
Owners: none

feat: add admin user to leap
  config/clusters/leap/daskhub-common.values.yaml
Owners: none

feat: add admin user to leap (#8478)
  config/clusters/leap/daskhub-common.values.yaml
Owners: none

Tweak instance types
  eksctl/earthscope.jsonnet
Owners: none

Revert "[earthscope] Add a couple of more instance types to the dask list"
  eksctl/earthscope.jsonnet
Owners: none

Trim the name
  eksctl/libsonnet/cluster.jsonnet
Owners: none

Rename images for devcon 25
  config/clusters/awi-ciroh/prod.values.yaml
Owners: none

Add images for devcon 26
  config/clusters/awi-ciroh/prod.values.yaml
Owners: none

nasa veda: enable fancy profiles binderhub auth
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nasa-veda/prod.values.yaml
  config/clusters/nasa-veda/staging.values.yaml
Owners: @wildintellect, @batpad

maap: enable fancy profiles binderhub auth
  config/clusters/maap/common.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: @wildintellect, @batpad

feat: gate EBS alarms
  terraform/aws/ebs-volumes.tf
  terraform/aws/projects/earthscope.tfvars
  terraform/aws/variables.tf
Owners: none

feat: gate EBS alarms (#8487)
  terraform/aws/ebs-volumes.tf
  terraform/aws/projects/earthscope.tfvars
  terraform/aws/variables.tf
Owners: none

feat: add cookoff2026 to pythia
  config/clusters/projectpythia/common.values.yaml
Owners: none

fix: drop lagest profile
  config/clusters/projectpythia/common.values.yaml
Owners: none

[projectpythia] Add cookoff2026 team and shrink profiles (#8488)
  config/clusters/projectpythia/common.values.yaml
Owners: none

Bump the quota of one more user
  config/clusters/victor/enc-prod.secret.values.yaml
Owners: none

veda staging: update fancy profiles to test autstart feature
  config/clusters/nasa-veda/staging.values.yaml
Owners: none

Reduce size of home dir disks on showcase / staging hubs
  terraform/aws/projects/2i2c-aws-us.tfvars
Owners: none

Setup for the latest dask-gateway version
  config/clusters/aimatx-2i2c-hub/common.values.yaml
  config/clusters/awi-ciroh/common.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/earthscope/staging.values.yaml
  config/clusters/leap/daskhub-common.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/openscapeshub/common.values.yaml
Owners: @smk0033, @wildintellect, @batpad

Bump the dask-gateway version directly inside Chart.yaml
  config/clusters/2i2c-aws-us/cluster.yaml
  config/clusters/disasters/cluster.yaml
  config/clusters/earthscope/cluster.yaml
  config/clusters/maap/cluster.yaml
  config/clusters/nmfs-openscapes/cluster.yaml
  config/clusters/opensci/cluster.yaml
  config/clusters/reflective/cluster.yaml
  helm-charts/basehub/Chart.yaml
  helm-charts/latest-dask-gateway-version-chart.yaml
Owners: none

Document how to setup dask-gateway with jupyterhub authentication
  docs/howto/features/dask.md
Owners: none

[CloudBank] CloudBank image tag bump
  config/clusters/cloudbank/common.values.yaml
Owners: none

Initial setup of a demo hub with ORCID login
  config/clusters/2i2c-aws-us/cluster.yaml
  config/clusters/2i2c-aws-us/enc-orcid-demo.secret.values.yaml
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
  eksctl/2i2c-aws-us.jsonnet
  terraform/aws/projects/2i2c-aws-us.tfvars
Owners: none

Update image tags
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Put project-shared under a different name
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Enable dynamic image building config
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Default to JupyterLab on startup
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Turn off dask-gateway
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Move cryocloud image down
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Add profile lists + allow listing my buckets
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
  terraform/aws/projects/2i2c-aws-us.tfvars
Owners: none

Setup dynamic shared directories per-project
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Describe login service as ORCID
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Fix using ORCID ids with CILogonAuthenticator
  config/clusters/2i2c-aws-us/orcid-demo.values.yaml
Owners: none

Fix typo
  terraform/aws/projects/2i2c-aws-us.tfvars
Owners: none
