Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

feat: add n2-highmem-16 info
  deployer/dev_commands/generate/resource_allocation/node-capacity-info.json
Owners: none

feat: add n2-standard-64
  config/clusters/awi-ciroh/workshop.values.yaml
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

feat: add resource entry for n2-standard-64
  deployer/dev_commands/generate/resource_allocation/node-capacity-info.json
Owners: none

feat: update the resource allocation
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

Update config/clusters/earthscope/support.values.yaml
  config/clusters/earthscope/support.values.yaml
Owners: none

fix: manually list all alert rules
  config/clusters/earthscope/support.values.yaml
Owners: none

feat: enable admin users on workshop
  config/clusters/awi-ciroh/enc-workshop.secret.values.yaml
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

[awi-ciroh, workshop] Bump node-sharing setup to n2-standard-64 (#8284)
  config/clusters/awi-ciroh/enc-workshop.secret.values.yaml
  config/clusters/awi-ciroh/workshop.values.yaml
  deployer/dev_commands/generate/resource_allocation/node-capacity-info.json
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

feat: allow named servers
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

feat: bump image tag
  config/clusters/earthscope/staging.values.yaml
Owners: none

feat: update server startup alert (#8249)
  config/clusters/earthscope/staging.values.yaml
  config/clusters/earthscope/support.values.yaml
Owners: none

fix: allow admins
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

[awi-ciroh, workshop] Allow named servers (#8285)
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

fix: add n2-standard-16 to ciroh
  config/clusters/awi-ciroh/workshop.values.yaml
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

feat: add n2-standard-16
  deployer/dev_commands/generate/resource_allocation/node-capacity-info.json
Owners: none

fix: update profile option
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

[awi-ciroh, workshop] Change Huge node to n2-standard-16 (#8287)
  config/clusters/awi-ciroh/workshop.values.yaml
  deployer/dev_commands/generate/resource_allocation/node-capacity-info.json
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

Offboard James from the hub admins
  helm-charts/basehub/values.yaml
Owners: none

Offboard James from the hub admins (#8289)
  helm-charts/basehub/values.yaml
Owners: none

Refactor MAAP post-auth webhook for non-blocking calls
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Document __BUCKET_ARN__
  terraform/aws/variables.tf
Owners: none

Put the conditional in the pvConfig
  helm-charts/basehub/values.jsonnet
Owners: none

Add support for jsonnet
  deployer/commands/validate/config.py
  deployer/infra_components/hub.py
  helm-charts/basehub/values.jsonnet
Owners: none

USe the same account id var
  deployer/commands/validate/config.py
  deployer/infra_components/cluster.py
  deployer/infra_components/hub.py
  deployer/utils/jsonnet.py
  docs/topic/jsonnet.md
  helm-charts/basehub/values.jsonnet
  helm-charts/support/values.jsonnet
Owners: none

Fix hhmi staging nfs pv serverIP
  config/clusters/hhmi/staging.values.yaml
Owners: none

feat: bump images
  config/clusters/victor/prod.values.yaml
  config/clusters/victor/staging.values.yaml
Owners: none

feat: bump images (#8291)
  config/clusters/victor/prod.values.yaml
  config/clusters/victor/staging.values.yaml
Owners: none

Make account id a global var
  deployer/utils/jsonnet.py
  helm-charts/basehub/values.jsonnet
  helm-charts/support/values.jsonnet
Owners: none

Rm all config frpm yaml
  helm-charts/basehub/values.jsonnet
  helm-charts/basehub/values.yaml
Owners: none

Rm all config frpm yaml
  helm-charts/basehub/values.jsonnet
Owners: none

Fix logic
  deployer/commands/validate/config.py
  deployer/infra_components/hub.py
  helm-charts/basehub/values.jsonnet
Owners: none

Add newline back
  deployer/commands/validate/config.py
Owners: none

Rm check
  helm-charts/basehub/values.jsonnet
Owners: none

[CloudBank] SOU GPU Image
  config/clusters/cloudbank/sou.values.yaml
Owners: none

Rm remaining userServiceAccount config
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/climaterisk.values.yaml
  config/clusters/opensci/sciencecore.values.yaml
  config/clusters/opensci/small-binder.values.yaml
Owners: none

Put mount options in the common jsonnet
  config/clusters/2i2c/common.values.yaml
  helm-charts/basehub/values.jsonnet
Owners: none

Rm mountOptions
  config/clusters/2i2c-aws-us/basehub-common.values.yaml
  config/clusters/2i2c-aws-us/daskhub-common.values.yaml
  config/clusters/2i2c-uk/lis.values.yaml
  config/clusters/2i2c-uk/staging.values.yaml
  config/clusters/aimatx-2i2c-hub/common.values.yaml
  config/clusters/awi-ciroh/common.values.yaml
  config/clusters/berkeley-geojupyter/common.values.yaml
  config/clusters/bnext-bio/common.values.yaml
  config/clusters/cloudbank/common.values.yaml
  config/clusters/disasters/common.values.yaml
  config/clusters/dubois/common.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/hhmi/spyglass.values.yaml
  config/clusters/hhmi/staging.values.yaml
  config/clusters/jupyter-health/common.values.yaml
  config/clusters/leap/daskhub-common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
  config/clusters/openscapeshub/common.values.yaml
  config/clusters/opensci/common.values.yaml
  config/clusters/projectpythia/common.values.yaml
  config/clusters/reflective/common.values.yaml
  config/clusters/smithsonian/common.values.yaml
  config/clusters/temple/common.values.yaml
  config/clusters/ucmerced/common.values.yaml
  config/clusters/victor/common.values.yaml
  helm-charts/basehub/values.jsonnet
Owners: @freitagb, @wildintellect, @batpad, @smk0033

Centralize nodeselector
  helm-charts/basehub/values.jsonnet
Owners: none

Centralize more of this selector
  helm-charts/basehub/values.jsonnet
Owners: none

Rm even more selector config
  config/clusters/aimatx-2i2c-hub/common.values.yaml
  config/clusters/berkeley-geojupyter/common.values.yaml
  config/clusters/bnext-bio/common.values.yaml
  config/clusters/disasters/common.values.yaml
  config/clusters/earthscope/binder.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/temple/common-non-teaching.values.yaml
  helm-charts/basehub/values.jsonnet
Owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033
