Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

Error out if helm version is less than v4
  deployer/infra_components/cluster.py
  deployer/infra_components/hub.py
Owners: none

Make pre-commit happy
  deployer/infra_components/cluster.py
  deployer/infra_components/hub.py
Owners: none

[CloudBank] Update GPU Image
  config/clusters/cloudbank/gpu-demo.values.yaml
Owners: none

Always test dask scaling
  deployer/commands/deployer.py
Owners: none

Check for binderhubs
  .github/workflows/pd-triggered-health-check.yaml
  deployer/commands/deployer.py
Owners: none

Turn the pd note into a reusable action
  .github/actions/pagerduty-note/action.yaml
  .github/workflows/pd-triggered-health-check.yaml
Owners: none

Correct action name and tee cmd
  .github/workflows/pd-triggered-health-check.yaml
Owners: none

Fixup action names again
  .github/workflows/pd-triggered-health-check.yaml
Owners: none

Fixup var name
  .github/workflows/pd-triggered-health-check.yaml
Owners: none

Add two new alerts on pod state
  helm-charts/support/values.jsonnet
Owners: none

Setup receiver
  helm-charts/support/enc-support.secret.values.yaml
Owners: none

fix: bump binderhub chart (#7885)
  helm-charts/basehub/Chart.yaml
Owners: none

Update the client id and secret
  config/clusters/disasters/enc-prod.secret.values.yaml
  config/clusters/disasters/enc-staging.secret.values.yaml
Owners: none

Update authenticator authorization and token urls
  config/clusters/disasters/common.values.yaml
  config/clusters/disasters/prod.values.yaml
  config/clusters/disasters/staging.values.yaml
Owners: @freitagb

Document the new alerts
  docs/howto/manage-alerts/index.md
  docs/topic/monitoring-alerting/alerting.md
Owners: none

CloudBank] gpu-demo - restore culling default
  config/clusters/cloudbank/gpu-demo.values.yaml
Owners: none

Allow passing a regex to the restart function
  helm-charts/support/values.jsonnet
Owners: none

Add a reusable workflow that run health checks
  .github/workflows/pd-triggered-health-check.yaml
  .github/workflows/run-hub-health-check.yaml
Owners: none

Add note about job being skipped
  .github/workflows/pd-triggered-health-check.yaml
Owners: none

Add provider url
  config/clusters/utoronto/cluster.yaml
Owners: none

Add support for health check matrix
  config/clusters/projectpythia-binder/cluster.yaml
  deployer/commands/plan_upgrade/decision.py
  deployer/commands/plan_upgrade/jobs.py
  deployer/utils/rendering.py
  tests/test_helm_upgrade_decision.py
Owners: none

Fix paths
  deployer/commands/plan_upgrade/decision.py
  deployer/commands/plan_upgrade/jobs.py
Owners: none

Fix a few more formats and break when intersection
  deployer/commands/plan_upgrade/decision.py
  deployer/commands/plan_upgrade/jobs.py
Owners: none

Pass the real provider directly, because we're going to need the config one for testing too
  deployer/commands/plan_upgrade/decision.py
  deployer/commands/plan_upgrade/jobs.py
Owners: none

Add one more project_url
  config/clusters/2i2c-jetstream2/cluster.yaml
Owners: none

Add new workflow
  .github/workflows/pd-triggered-health-check.yaml
  .github/workflows/run-health-check.yaml
  .github/workflows/run-hub-health-check.yaml
Owners: none

Add back the reusable workflow
  .github/workflows/reusable-health-check.yaml
Owners: none

chore: update MAAP bucket permissions
  terraform/aws/projects/maap.tfvars
Owners: none

chore: remove PutObjectAcl permission
  terraform/aws/projects/maap.tfvars
Owners: none

Refactor populate_token function for sidecar auth_state handling
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Fix indentation for populate_token function
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Refactor populate_token function for clarity
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

More indentation fixes
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Add new volume mount for my-team-buckets
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Minor code cleanup
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

[CloudBank] ETSU increase disk size
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

[CloudBank] Added CRA Hub
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/cra.values.yaml
  config/clusters/cloudbank/enc-cra.secret.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

[CloudBank] gpu-demo: GPU/CPU up for conference
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

Apply suggestion from @agoose77
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

refactor: rename volume label
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033
