Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033

refactor: remove comment
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

feat!: revert infra changes
  config/clusters/awi-ciroh/workshop.values.yaml
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

feat: disable replicas, enable basic scratch
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

[projectpythia] Add support for GitHub tokens (#8436)
  config/clusters/projectpythia/common.values.yaml
Owners: none

fix: app-ids
  config/clusters/projectpythia/prod.values.yaml
  config/clusters/projectpythia/staging.values.yaml
Owners: none

fix: app-ids (#8437)
  config/clusters/projectpythia/prod.values.yaml
  config/clusters/projectpythia/staging.values.yaml
Owners: none

feat: bump hub quotas image
  config/clusters/earthscope/common.values.yaml
  helm-charts/images/hub/quotas-requirements.txt
Owners: none

feat: bump hub quotas image (#8438)
  config/clusters/earthscope/common.values.yaml
  helm-charts/images/hub/quotas-requirements.txt
Owners: none

Revert "feat: bump hub quotas image (#8438)"
  config/clusters/earthscope/common.values.yaml
  helm-charts/images/hub/quotas-requirements.txt
Owners: none

[CloudBank] GPU-Demo: Update password
  config/clusters/cloudbank/enc-gpu-demo.secret.values.yaml
Owners: none

[CloudBank] gpu-demo rotate secret
  config/clusters/cloudbank/enc-gpu-demo.secret.values.yaml
Owners: none

[CloudBank] gpu-demo rotate admin password
  config/clusters/cloudbank/enc-gpu-demo.secret.values.yaml
Owners: none

[awi-ciroh, workshop] Revert bespoke workshop config (#8387)
  config/clusters/awi-ciroh/workshop.values.yaml
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

rollout fancy profiles 0.6.0 to prod veda hubs
  config/clusters/disasters/prod.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/nasa-ghg-hub/prod.values.yaml
Owners: none

Enable new fancy-profiles for cryocloud
  config/clusters/maap/staging.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  helm-charts/basehub/values.jsonnet
  helm-charts/basehub/values.yaml
Owners: none

fix: pull prom creds from new section
  deployer/infra_components/cluster.py
Owners: none

nasa veda hubs: enable binderhub auth for fancy profiles
  config/clusters/disasters/common.values.yaml
  config/clusters/disasters/prod.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-ghg-hub/prod.values.yaml
  config/clusters/nasa-ghg-hub/staging.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nasa-veda/prod.values.yaml
  config/clusters/nasa-veda/staging.values.yaml
Owners: @freitagb, @wildintellect, @batpad, @smk0033

feat!: decommission smithsonian
  .github/workflows/deploy-hubs.yaml
  config/clusters/smithsonian/cluster.yaml
  config/clusters/smithsonian/common.values.yaml
  config/clusters/smithsonian/enc-deployer-credentials.secret.json
  config/clusters/smithsonian/enc-grafana-token.secret.yaml
  config/clusters/smithsonian/enc-prod.secret.values.yaml
  config/clusters/smithsonian/enc-staging.secret.values.yaml
  config/clusters/smithsonian/enc-support.secret.values.yaml
  config/clusters/smithsonian/prod.values.yaml
  config/clusters/smithsonian/staging.values.yaml
  config/clusters/smithsonian/support.values.yaml
  eksctl/smithsonian.jsonnet
  terraform/aws/projects/smithsonian.tfvars
Owners: none

[smithsonian] Decommission the cluster (#8456)
  .github/workflows/deploy-hubs.yaml
  config/clusters/smithsonian/cluster.yaml
  config/clusters/smithsonian/common.values.yaml
  config/clusters/smithsonian/enc-deployer-credentials.secret.json
  config/clusters/smithsonian/enc-grafana-token.secret.yaml
  config/clusters/smithsonian/enc-prod.secret.values.yaml
  config/clusters/smithsonian/enc-staging.secret.values.yaml
  config/clusters/smithsonian/enc-support.secret.values.yaml
  config/clusters/smithsonian/prod.values.yaml
  config/clusters/smithsonian/staging.values.yaml
  config/clusters/smithsonian/support.values.yaml
  deployer/infra_components/cluster.py
  eksctl/smithsonian.jsonnet
  terraform/aws/projects/smithsonian.tfvars
Owners: none

feat: add GitHub app for ProjectPythia Binder GitHub API
  config/clusters/projectpythia/enc-common.secret.values.yaml
Owners: none

fix: enable async for hook
  config/clusters/projectpythia/common.values.yaml
Owners: none

[projectpythia] Add GitHub OAuth secrets to binderhub-service (#8457)
  config/clusters/projectpythia/common.values.yaml
  config/clusters/projectpythia/enc-common.secret.values.yaml
Owners: none

fix: lift all Binder config into shared config
  config/clusters/projectpythia/binderhub-service-common.values.yaml
  config/clusters/projectpythia/cluster.yaml
  config/clusters/projectpythia/common.values.yaml
  config/clusters/projectpythia/enc-binderhub-service-common.secret.values.yaml
  config/clusters/projectpythia/enc-common.secret.values.yaml
  config/clusters/projectpythia/enc-pythia-binder.secret.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
Owners: none

[projectpythia] Fix missing password for image registry (#8458)
  config/clusters/projectpythia/binderhub-service-common.values.yaml
  config/clusters/projectpythia/cluster.yaml
  config/clusters/projectpythia/common.values.yaml
  config/clusters/projectpythia/enc-binderhub-service-common.secret.values.yaml
  config/clusters/projectpythia/enc-common.secret.values.yaml
  config/clusters/projectpythia/enc-pythia-binder.secret.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
Owners: none

fix: auth state is None for health check
  config/clusters/projectpythia/common.values.yaml
Owners: none

fix: auth state is None for health check (#8459)
  config/clusters/projectpythia/common.values.yaml
Owners: none

feat: add jupyterbook-pub to basehub
  config/clusters/2i2c-aws-us/jupyterbook-pub.yaml
  config/clusters/2i2c-aws-us/staging.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia-binder/jupyterbook-pub.yaml
  helm-charts/basehub/Chart.yaml
  helm-charts/basehub/values.schema.yaml
Owners: none

fix: disable jbook-pub by default
  helm-charts/basehub/values.yaml
Owners: none

Add jupyterbook-pub-service to basehub (#8460)
  config/clusters/2i2c-aws-us/jupyterbook-pub.yaml
  config/clusters/2i2c-aws-us/staging.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia-binder/jupyterbook-pub.yaml
  helm-charts/basehub/Chart.yaml
  helm-charts/basehub/values.schema.yaml
  helm-charts/basehub/values.yaml
Owners: none

Update common.values.yaml
  config/clusters/earthscope/common.values.yaml
Owners: none

[CloudBank] Shasta College Added
  .gitignore
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/enc-shasta.secret.values.yaml
  config/clusters/cloudbank/shasta.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

Remove nasa-staging entry for binder service
  config/clusters/nasa-veda/staging.values.yaml
Owners: none

Bump quota for user
  config/clusters/victor/enc-prod.secret.values.yaml
Owners: none

nasa-ghg: enable binderhub auth for fancy profile on ghg hub
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-ghg-hub/prod.values.yaml
  config/clusters/nasa-ghg-hub/staging.values.yaml
Owners: @smk0033

Stop running tests with pytest
  deployer/commands/deployer.py
  deployer/health_check_tests/conftest.py
  deployer/health_check_tests/test_hub_health.py
Owners: none

Always check dask scaling if we're testing a daskhub (legacy or not)
  deployer/commands/deployer.py
  deployer/health_check_tests/test_hub_health.py
Owners: none

Simplify print
  deployer/commands/deployer.py
  deployer/health_check_tests/test_hub_health.py
Owners: none

refactor: set token for BinderHub in base config
  config/clusters/earthscope/binder.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/templates/common/binderhub-ui-hub.values.yaml
  docs/howto/features/binderhub-ui.md
  helm-charts/basehub/values.yaml
Owners: none

Update helm-charts/basehub/values.yaml
  helm-charts/basehub/values.yaml
Owners: none

refactor: set token for BinderHub in base config (#8470)
  config/clusters/earthscope/binder.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/templates/common/binderhub-ui-hub.values.yaml
  docs/howto/features/binderhub-ui.md
  helm-charts/basehub/values.yaml
Owners: none
