Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

Scale placeholders to 0 for leap/prod
  config/clusters/leap/prod.values.yaml
Owners: none

[CloudBank] Update CCSF Image
  config/clusters/cloudbank/ccsf.values.yaml
Owners: none

[CloudBank] Add Chicago State
  config/clusters/cloudbank/chicagostate.values.yaml
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/enc-chicagostate.secret.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

[CloudBank] Add to Skill
  .github/skills/cloudbank_hub_setup_guide.md
Owners: none

[CloudBank] Update Chicago State
  config/clusters/cloudbank/chicagostate.values.yaml
Owners: none

[CloudBank] Removed Setup Guide
  .github/skills/cloudbank_hub_setup_guide.md
  .gitignore
Owners: none

Bump srjc disk size
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

Revert "[CloudBank] Update CCSF Image"
  config/clusters/cloudbank/ccsf.values.yaml
Owners: none

[opensci, *] Update profile list resource constraints (#7403)
  config/clusters/opensci/sciencecore.values.yaml
  config/clusters/opensci/staging.values.yaml
Owners: none

feat: run cog
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
Owners: none

feat: move to cog
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
Owners: none

[nmfs-openscapes, *] Update profile list resource constraints (#7402)
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
Owners: none

wip: add incident action item template
  .github/ISSUE_TEMPLATE/10_incident-action-item.yaml
Owners: none

feat: improve incident-action-item
  .github/ISSUE_TEMPLATE/10_incident-action-item.yaml
Owners: none

fix: more improvements to template
  .github/ISSUE_TEMPLATE/10_incident-action-item.yaml
Owners: none

feat: add cog
  config/clusters/nasa-veda/common.values.yaml
Owners: @wildintellect, @batpad

feat: run cog
  config/clusters/nasa-veda/common.values.yaml
Owners: @wildintellect, @batpad

[nasa-veda, *] Update profile list resource constraints (#7429)
  config/clusters/nasa-veda/common.values.yaml
Owners: @wildintellect, @batpad

feat: run cog
  config/clusters/nasa-ghg-hub/common.values.yaml
Owners: @smk0033

feat: use cog
  config/clusters/nasa-ghg-hub/common.values.yaml
Owners: @smk0033

feat: add cog
  config/clusters/maap/common.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: @wildintellect, @batpad

feat: run cog
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

fix: adapt cog output
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: none

Apply suggestion from @agoose77
  config/clusters/nasa-ghg-hub/common.values.yaml
Owners: @smk0033

[nasa-ghg-hub, *] Update profile list resource constraints (#7430)
  config/clusters/nasa-ghg-hub/common.values.yaml
Owners: @smk0033

[maap, *] Update profile list resource constraints (#7431)
  config/clusters/maap/common.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: @wildintellect, @batpad

feat: change password
  config/clusters/nmfs-openscapes/enc-workshop.secret.values.yaml
Owners: none

feat: change password (#7432)
  config/clusters/nmfs-openscapes/enc-workshop.secret.values.yaml
Owners: none

Bump internaltools prometheus version again
  terraform/internaltools/prometheus.tf
Owners: none

internaltools: Update how we access prometheus username
  terraform/internaltools/prometheus.tf
Owners: none

Bump awi-ciroh staging disk size
  terraform/gcp/projects/awi-ciroh.tfvars
Owners: none

refactor: change group names for autogeneration
  config/clusters/bnext-bio/common.values.yaml
Owners: none

feat: add curvenote
  config/clusters/bnext-bio/common.values.yaml
Owners: none

refactor: generate groups in code
  config/clusters/bnext-bio/common.values.yaml
Owners: none

feat: add metapure directory too
  config/clusters/bnext-bio/common.values.yaml
Owners: none

Add a test PD test workflow
  .github/workflows/test-pagerduty-integration.yml
Owners: none

Update PagerDuty workflow to remove event types
  .github/workflows/test-pagerduty-integration.yml
Owners: none

feat: take teams and orgs from authenticator
  config/clusters/bnext-bio/common.values.yaml
Owners: none

maint: fix linting of PD workflow from main
  .github/workflows/test-pagerduty-integration.yml
Owners: none

chore: remove whitespace
  config/clusters/bnext-bio/common.values.yaml
Owners: none

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033
