Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033

extracted DOCKERIMAGE_PATH_BASE_IMAGE out
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: none

added block comment as requested
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: none

updated policy to always pull for staging
  config/clusters/maap/staging.values.yaml
Owners: none

Add missing doc to toctree
  docs/topic/monitoring-alerting/index.md
Owners: none

feat: enable unlisted-choice on LIS
  config/clusters/2i2c-uk/lis.values.yaml
Owners: none

feat: enable unlisted-choice on LIS (#7234)
  config/clusters/2i2c-uk/lis.values.yaml
Owners: none

refactor: remove unused image section
  config/clusters/2i2c-uk/lis.values.yaml
Owners: none

fix: revert to older tag
  config/clusters/2i2c-uk/lis.values.yaml
Owners: none

[lis] Use older image (#7235)
  config/clusters/2i2c-uk/lis.values.yaml
Owners: none

Document what to do for each alert
  docs/howto/manage-alerts/index.md
  docs/topic/monitoring-alerting/alerting.md
Owners: none

Add note about removing priority
  docs/howto/manage-alerts/index.md
Owners: none

Remove GitHubOAuthenticator
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

added tag to display name to inform users
  config/clusters/maap/prod.values.yaml
Owners: none

Revert "Revert "[To be merged at 6pm EEST] Temporarely bump the memory for the exam""
  config/clusters/utoronto/highmem.values.yaml
Owners: none

Update the authenticator_class
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

feat: bump catalystproject-latam disk for labi
  terraform/gcp/projects/catalystproject-latam.tfvars
Owners: none

feat: bump catalystproject-latam disk for labi (#7240)
  terraform/gcp/projects/catalystproject-latam.tfvars
Owners: none

feat: bump quota
  config/clusters/disasters/prod.values.yaml
Owners: none

feat: bump quota (#7241)
  config/clusters/disasters/prod.values.yaml
Owners: none

maint: upgrade temple
  config/clusters/temple/support.values.yaml
  eksctl/temple.jsonnet
Owners: none

Bump version of prometheus-dirsize-exporter
  helm-charts/basehub/templates/home-dirsize-reporter.yaml
Owners: none

Update Community nextgen hub image version
  config/clusters/awi-ciroh/prod.values.yaml
Owners: none

Add some general steps
  docs/howto/manage-alerts/index.md
Owners: none

nasa-ghg-hub: re-generate deployer credentials
  config/clusters/nasa-ghg-hub/enc-deployer-credentials.secret.json
Owners: none

maint: upgrade temple (#7243)
  config/clusters/temple/support.values.yaml
  eksctl/temple.jsonnet
Owners: none

refactor: avoid multiple locals
  eksctl/nmfs-openscapes.jsonnet
Owners: none

disasters: re-generate deployer credentials
  config/clusters/disasters/enc-deployer-credentials.secret.json
Owners: none

maap: re-generate deployer credentials
  config/clusters/maap/enc-deployer-credentials.secret.json
Owners: none

nasa-veda: re-generate deployer credentials
  config/clusters/nasa-veda/enc-deployer-credentials.secret.json
Owners: none

maint: upgrade EKS to 1.34 on earthscope
  eksctl/earthscope.jsonnet
Owners: none

feat: enable device plugin
  config/clusters/earthscope/support.values.yaml
Owners: none

[earthscope] Upgrade EKS to 1.34 (#7256)
  config/clusters/earthscope/support.values.yaml
  eksctl/earthscope.jsonnet
Owners: none

Collect home directory metrics from jupyterhub-home-nfs
  config/clusters/utoronto/common.values.yaml
  helm-charts/basehub/Chart.yaml
  helm-charts/basehub/templates/home-dirsize-reporter.yaml
  helm-charts/basehub/values.schema.yaml
  helm-charts/basehub/values.yaml
Owners: none

Centralize some more exporter config
  config/clusters/2i2c-aws-us/basehub-common.values.yaml
  config/clusters/2i2c-aws-us/daskhub-common.values.yaml
  config/clusters/2i2c-jetstream2/staging.values.yaml
  config/clusters/catalystproject-africa/common.values.yaml
  config/clusters/disasters/common.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/jupyter-health/common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/openscapeshub/common.values.yaml
  config/clusters/opensci/common.values.yaml
  config/clusters/projectpythia/common.values.yaml
  config/clusters/smithsonian/common.values.yaml
  config/clusters/ubc-eoas/common.values.yaml
  config/clusters/victor/common.values.yaml
  deployer/commands/validate/config.py
  deployer/infra_components/cluster.py
  deployer/infra_components/hub.py
  deployer/utils/jsonnet.py
  helm-charts/basehub/values.jsonnet
  helm-charts/basehub/values.yaml
Owners: @freitagb, @wildintellect, @batpad, @smk0033

Remove duplicate 'provider' key
  deployer/infra_components/cluster.py
Owners: none

Update README of the support helm chart
  helm-charts/support/README.md
Owners: none

Add 2025 NMFS-Openscapes Champions team
  config/clusters/nmfs-openscapes/prod.values.yaml
  config/clusters/nmfs-openscapes/staging.values.yaml
Owners: none

Regenerate resource options for disasters
  config/clusters/disasters/common.values.yaml
Owners: @freitagb

fix: bump cloudbank-skyline disk size
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

fix: bump cloudbank-skyline disk size (#7274)
  terraform/gcp/projects/cloudbank.tfvars
Owners: none
