Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

Bump jupyterhub-cost-monitoring version (#6852)
  helm-charts/support/Chart.yaml
Owners: none

refactor: allow changes to subtrees to not trigger rebuild
  deployer/__main__.py
  deployer/commands/__init__.py
  deployer/dev_commands/__init__.py
Owners: none

refactor: move age key handling & explicit imports (#6853)
  deployer/__main__.py
  deployer/commands/__init__.py
  deployer/dev_commands/__init__.py
  deployer/dev_commands/keys/decrypt_age.py
  deployer/dev_commands/keys/enc-age-secret-private.key
Owners: none

fix: missing command import
  deployer/commands/__init__.py
  docs/reference/cli.md
Owners: none

Remove cron schedule
  .github/workflows/recurrent-report-csat.yaml
Owners: none

Remove cron schedule (#6855)
  .github/workflows/recurrent-report-csat.yaml
Owners: none

fix: update CI-plan check
  .pre-commit-config.yaml
  deployer/commands/plan_upgrade/decision.py
Owners: none

fix: tighten up deployment checks
  .github/workflows/comment-test-link-merged-pr.yaml
  .github/workflows/deploy-hubs.yaml
  .github/workflows/validate-clusters.yaml
  deployer/commands/plan_upgrade/decision.py
Owners: none

ci: update triggers
  .github/workflows/comment-test-link-merged-pr.yaml
  .github/workflows/deploy-hubs.yaml
Owners: none

fix: more pr-target checks
  .github/workflows/deploy-hubs.yaml
  .github/workflows/validate-clusters.yaml
Owners: none

fix: tighten up deployment checks (#6862)
  .github/workflows/comment-test-link-merged-pr.yaml
  .github/workflows/deploy-hubs.yaml
  .github/workflows/validate-clusters.yaml
  .pre-commit-config.yaml
  deployer/commands/plan_upgrade/decision.py
Owners: none

Add a helper command to pop a shell on the jupyterhub-home-nfs server
  deployer/dev_commands/exec/infra_components.py
Owners: none

Add a helper command to pop a shell on the jupyterhub-home-nfs server (#6854)
  deployer/dev_commands/exec/infra_components.py
Owners: none

Disable nfs-share-creator globally
  helm-charts/basehub/values.yaml
Owners: none

Bump jupyterhub-home-nfs
  helm-charts/basehub/Chart.yaml
Owners: none

setup pace workshop
  config/clusters/openscapeshub/enc-workshop.secret.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
Owners: none

Revert "setup pace workshop"
  config/clusters/openscapeshub/enc-workshop.secret.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
Owners: none

Rm ownership fix init containers
  config/clusters/awi-ciroh/workshop.values.yaml
  config/clusters/climatematch/common.values.yaml
  config/clusters/cloudbank/high.values.yaml
  config/clusters/disasters/common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nasa-veda/staging.values.yaml
  config/clusters/neurohackademy/common.values.yaml
  config/clusters/nmfs-openscapes/prod.values.yaml
  config/clusters/nmfs-openscapes/staging.values.yaml
  config/clusters/nmfs-openscapes/workshop.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
  config/clusters/opensci/climaterisk.values.yaml
  config/clusters/reflective/workshop.values.yaml
  helm-charts/basehub/values.yaml
Owners: @freitagb, @wildintellect, @batpad, @smk0033

Remove old cost dashboard
  grafana-dashboards/README.md
  grafana-dashboards/cloud-cost-aws.jsonnet
  grafana-dashboards/common.libsonnet
Owners: none

Remove old cost dashboard (#6872)
  grafana-dashboards/README.md
  grafana-dashboards/cloud-cost-aws.jsonnet
  grafana-dashboards/common.libsonnet
Owners: none

Keep the relevant init containers
  config/clusters/disasters/common.values.yaml
  config/clusters/maap/common.values.yaml
Owners: @freitagb, @wildintellect, @batpad

Fix the indent
  config/clusters/disasters/common.values.yaml
  config/clusters/maap/common.values.yaml
Owners: @freitagb, @wildintellect, @batpad

feat: add louvain package
  config/clusters/utoronto/default-common.values.yaml
Owners: none

feat: add louvain package (#6874)
  config/clusters/utoronto/default-common.values.yaml
Owners: none

Enable cost-monitoring system
  config/clusters/disasters/support.values.yaml
  config/clusters/nasa-ghg-hub/support.values.yaml
  config/clusters/projectpythia/support.values.yaml
  config/clusters/temple/support.values.yaml
  config/clusters/victor/support.values.yaml
  terraform/aws/projects/ubc-eoas.tfvars
Owners: none

Enable cost-monitoring system (#6877)
  config/clusters/disasters/support.values.yaml
  config/clusters/nasa-ghg-hub/support.values.yaml
  config/clusters/projectpythia/support.values.yaml
  config/clusters/temple/support.values.yaml
  config/clusters/victor/support.values.yaml
  terraform/aws/projects/ubc-eoas.tfvars
Owners: none

fix: remove initContainers key
  config/clusters/nasa-veda/common.values.yaml
Owners: @wildintellect, @batpad

Update new image tag
  config/clusters/awi-ciroh/staging.values.yaml
Owners: none

setup pace workshop (#6870)
  config/clusters/openscapeshub/enc-workshop.secret.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
Owners: none

fix: don't treat cluster changes as core infra changes
  deployer/commands/plan_upgrade/decision.py
Owners: none

fix: don't treat cluster changes as core infra changes (#6879)
  deployer/commands/plan_upgrade/decision.py
Owners: none

Bump chart https://github.com/2i2c-org/jupyterhub-cost-monitoring/pull/65
  helm-charts/support/Chart.yaml
Owners: none

Bump chart https://github.com/2i2c-org/jupyterhub-cost-monitoring/pull/65 (#6880)
  helm-charts/support/Chart.yaml
Owners: none

Add pod restart alerts
  helm-charts/support/values.jsonnet
Owners: none

Bump grafana mem limit
  helm-charts/support/values.yaml
Owners: none

Set pod resources
  helm-charts/support/values.yaml
Owners: none

[jupyterhub-cost-monitoring] Set up alerts and adjust pod resources (#6881)
  helm-charts/support/values.jsonnet
  helm-charts/support/values.yaml
Owners: none

fix: set 2GB as default
  config/clusters/openscapeshub/workshop.values.yaml
Owners: none

oceanhackweek: Set higher limit for _shared
  config/clusters/oceanhackweek/prod.values.yaml
  terraform/aws/projects/oceanhackweek.tfvars
Owners: none

Revert "setup pace workshop (#6870)"
  config/clusters/openscapeshub/enc-workshop.secret.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
Owners: none

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033
