Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033

feat: add staging
  config/clusters/ucec/cluster.yaml
  config/clusters/ucec/common.values.yaml
  config/clusters/ucec/enc-staging.secret.values.yaml
  config/clusters/ucec/staging.values.yaml
  terraform/gcp/persistent-disks.tf
  terraform/gcp/projects/ucec.tfvars
Owners: none

feat: add EBFM
  config/clusters/ucec/cluster.yaml
  config/clusters/ucec/ebfm.values.yaml
  config/clusters/ucec/enc-ebfm.secret.values.yaml
Owners: none

feat: add ebfm infra
  terraform/gcp/projects/ucec.tfvars
Owners: none

fix: cluster
  config/clusters/ucec/cluster.yaml
Owners: none

bumped reflective image
  config/clusters/reflective/common.values.yaml
Owners: none

feat: enable improved kubespawner messages
  config/clusters/disasters/common.values.yaml
  config/clusters/disasters/enc-prod.secret.values.yaml
  config/clusters/disasters/enc-staging.secret.values.yaml
  config/clusters/disasters/prod.values.yaml
  config/clusters/disasters/staging.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/maap/enc-prod.secret.values.yaml
  config/clusters/maap/enc-staging.secret.values.yaml
  config/clusters/maap/prod.values.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/nasa-ghg-hub/common.values.yaml
  config/clusters/nasa-ghg-hub/enc-prod.secret.values.yaml
  config/clusters/nasa-ghg-hub/enc-staging.secret.values.yaml
  config/clusters/nasa-ghg-hub/prod.values.yaml
  config/clusters/nasa-ghg-hub/staging.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nasa-veda/enc-prod.secret.values.yaml
  config/clusters/nasa-veda/enc-staging.secret.values.yaml
  config/clusters/nasa-veda/prod.values.yaml
  config/clusters/nasa-veda/staging.values.yaml
Owners: @freitagb, @wildintellect, @batpad, @smk0033

feat: re-migrate r-prod
  config/clusters/utoronto/cluster.yaml
Owners: none

Allow mirroring of prometheus-auth secret in hub namespaces
  helm-charts/basehub/templates/mirrored-prometheus.yaml
  helm-charts/support/Chart.yaml
  helm-charts/support/templates/prometheus-auth/secret.yaml
  helm-charts/support/values.schema.yaml
Owners: none

fix: migrate highmem
  config/clusters/utoronto/cluster.yaml
Owners: none

Rename secret
  helm-charts/basehub/templates/mirrored-prometheus-creds.yaml
Owners: none

[utoronto] Re-deploy r-prod and highmem on Canvas (#8850)
  config/clusters/utoronto/cluster.yaml
Owners: none

[ucec] Add hubs (#8845)
  config/clusters/templates/common/hub.values.yaml
  config/clusters/ucec/cluster.yaml
  config/clusters/ucec/common.values.yaml
  config/clusters/ucec/ebfm.values.yaml
  config/clusters/ucec/enc-ebfm.secret.values.yaml
  config/clusters/ucec/enc-seamap.secret.values.yaml
  config/clusters/ucec/enc-staging.secret.values.yaml
  config/clusters/ucec/seamap.values.yaml
  config/clusters/ucec/staging.values.yaml
  terraform/gcp/persistent-disks.tf
  terraform/gcp/projects/ucec.tfvars
Owners: none

fix: add ucec to deploy
  .github/workflows/deploy-hubs.yaml
Owners: none

wip: add cost controls
  config/clusters/reflective/common.values.yaml
Owners: none

Drop duplicate staging env
  config/clusters/reflective/staging.values.yaml
Owners: none

[reflective, prod] Enable group restrictions of profiles (#8855)
  config/clusters/reflective/common.values.yaml
  config/clusters/reflective/staging.values.yaml
Owners: none

feat: use hucl to spin up hub
  src/deployer/health_check_tests/test_hub_health.py
Owners: none

fix: update pyproject.toml
  pyproject.toml
Owners: none

Bump password
  config/clusters/nmfs-openscapes/enc-workshop.secret.values.yaml
Owners: none

Add a new workshop password
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Update the password again
  config/clusters/nmfs-openscapes/enc-workshop.secret.values.yaml
Owners: none

Use the r5.4xlarge machine
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Refactor post-auth webhook to member-sync webhook
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Settle at one resource option and one image option, add more admins and disable caching
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Add one more profile option and rename the profile
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Add 'fish-pace' to allowed organizations
  config/clusters/nasa-cryo/common.values.yaml
Owners: none

Disable the allusers dir
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Add myself as admin
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Add back the shared-rw dir
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Correctly disable the allusers mount. We now have dicts
  config/clusters/nmfs-openscapes/workshop.values.yaml
Owners: none

Allow null values
  helm-charts/basehub/values.yaml
Owners: none

fix: home-disk vol ID
  config/clusters/uw-escience/staging.values.yaml
Owners: none

fix: home-disk vol ID (#8869)
  config/clusters/uw-escience/staging.values.yaml
Owners: none

Set default URL for singleuser to /lab
  config/clusters/uw-escience/common.values.yaml
Owners: none

fix: update links to sciencecloud dashboards
  config/clusters/disasters/cluster.yaml
  config/clusters/maap/cluster.yaml
  config/clusters/nasa-ghg-hub/cluster.yaml
  config/clusters/nasa-veda/cluster.yaml
Owners: none

fix: update links to sciencecloud dashboards (#8874)
  config/clusters/disasters/cluster.yaml
  config/clusters/maap/cluster.yaml
  config/clusters/nasa-ghg-hub/cluster.yaml
  config/clusters/nasa-veda/cluster.yaml
Owners: none

[CloudBank] CAU CILogon Auth Configured
  config/clusters/cloudbank/cau.values.yaml
Owners: none

wip: initial QoS spike to 2i2c-aws-us staging
  config/clusters/2i2c-aws-us/chart.yaml
  config/clusters/2i2c-aws-us/cluster.yaml
  config/clusters/2i2c-aws-us/staging.values.yaml
Owners: none

fix(disasters): derisk CSDA bucket access - rm write/delete on source bucket root, allow outbound read-only on designated prefix
  terraform/aws/projects/disasters.tfvars
Owners: none

wip: initial QoS spike to 2i2c-aws-us staging (#8878)
  config/clusters/2i2c-aws-us/chart.yaml
  config/clusters/2i2c-aws-us/cluster.yaml
  config/clusters/2i2c-aws-us/staging.values.yaml
Owners: none
