Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033

Simplify config
  config/clusters/2i2c-aws-us/basehub-common.values.yaml
  config/clusters/2i2c-aws-us/cluster.yaml
  config/clusters/2i2c-aws-us/daskhub-common.values.yaml
  config/clusters/2i2c-aws-us/showcase.values.yaml
  config/clusters/2i2c-aws-us/staging.values.yaml
Owners: none

Update openscapes python image to use positron (ref #8258)
  config/clusters/openscapeshub/common.values.yaml
Owners: none

[reflective, staging] Add group access to profiles (#8332)
  config/clusters/reflective/staging.values.yaml
Owners: none

Add a service scope as well
  config/clusters/2i2c-aws-us/showcase.values.yaml
Owners: none

Add the same server service scope as well
  config/clusters/earthscope/staging.values.yaml
Owners: none

Bump the pangeo image in a few places
  config/clusters/2i2c-uk/staging.values.yaml
  config/clusters/opensci/staging.values.yaml
  docs/howto/features/imagebuilding.md
  docs/howto/image-management/update-env.md
Owners: none

Move chart override someplace more central to be reused by other hubs
  config/clusters/earthscope/cluster.yaml
  helm-charts/latest-dask-gateway-version-chart.yaml
Owners: none

[CloudBank] SSU Added
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/enc-ssu.secret.values.yaml
  config/clusters/cloudbank/ssu.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

[CloudBank] Remove SSU! Already Deployed
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/enc-ssu.secret.values.yaml
  config/clusters/cloudbank/ssu.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

feat: update config
  config/clusters/earthscope/enc-staging.secret.values.yaml
  config/clusters/earthscope/staging.values.yaml
Owners: none

fix: split out config
  config/clusters/earthscope/enc-staging.secret.values.yaml
  config/clusters/earthscope/staging.values.yaml
Owners: none

refactor: split into files
  config/clusters/earthscope/enc-staging.secret.values.yaml
  config/clusters/earthscope/staging.values.yaml
Owners: none

fix: session secret config for usageviewer
  config/clusters/earthscope/enc-staging.secret.values.yaml
Owners: none

[earthscope, staging] Update config (#8333)
  config/clusters/earthscope/enc-staging.secret.values.yaml
  config/clusters/earthscope/staging.values.yaml
Owners: none

feat: split out custom config
  helm-charts/basehub/config/01-custom-theme.py
  helm-charts/basehub/config/02-basehub-spawner.py
  helm-charts/basehub/config/03-2i2c-staff-access.py
  helm-charts/basehub/config/04-per-user-disk.py
  helm-charts/basehub/config/05-profile-groups.py
  helm-charts/basehub/config/06-salted-username.py
  helm-charts/basehub/config/07-enable-fancy-profiles.py
  helm-charts/basehub/config/08-auth-state-groups.py
  helm-charts/basehub/config/10-skip-refresh-test-user.py
  helm-charts/basehub/config/11-dask-hub-add-dask-gateway-values.py
  helm-charts/basehub/templates/configmap-hub-config.yaml
  helm-charts/basehub/values.yaml
Owners: none

Update workshop.values.yaml to modify devcon entries
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

Update workshop.values.yaml to modify devcon entries (#8339)
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

Add configurations for satellite and cuahsi
  config/clusters/awi-ciroh/workshop.values.yaml
Owners: none

Add regex pattern for brian-rose org
  config/clusters/projectpythia-binder/binderhub.values.yaml
Owners: none

Bump earthscope staging disk
  terraform/aws/projects/earthscope.tfvars
Owners: none

Bump 2i2c-uk disk
  terraform/gcp/projects/2i2c-uk.tfvars
Owners: none

feat: increase staging disk size
  terraform/aws/projects/earthscope.tfvars
Owners: none

feat: increase home-nfs quota
  config/clusters/earthscope/staging.values.yaml
Owners: none

[earthscope, staging] Bump home storage quota (#8346)
  config/clusters/earthscope/staging.values.yaml
  terraform/aws/projects/earthscope.tfvars
Owners: none

Allow accessing GCP metrics from Grafana
  helm-charts/support/values.jsonnet
  terraform/gcp/grafana.tf
Owners: none

Remove outdated docs recommending shared deployments
  docs/hub-deployment-guide/new-cluster/index.md
Owners: none

Document needing hubspot deal ids
  .github/ISSUE_TEMPLATE/03_new-hub_phase-1.yaml
  docs/hub-deployment-guide/new-cluster/new-cluster.md
Owners: none

docs: add note about home directory alerts
  docs/howto/manage-alerts/index.md
Owners: none

Apply suggestion from @agoose77
  docs/howto/manage-alerts/index.md
Owners: none

docs: add note about home directory alerts (#8349)
  docs/howto/manage-alerts/index.md
Owners: none

Bump dask-gateway version
  config/clusters/disasters/cluster.yaml
  config/clusters/disasters/common.values.yaml
Owners: @freitagb

maap: bump dask-gateway version
  config/clusters/maap/cluster.yaml
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

nmfs-openscapes: bump dask-gateway version
  config/clusters/nmfs-openscapes/cluster.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
Owners: none

opensci-big-binder: bump dask-gateway version
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/cluster.yaml
Owners: none

reflective: bump dask-gateway version
  config/clusters/reflective/cluster.yaml
  config/clusters/reflective/common.values.yaml
Owners: none

Fix typo
  config/clusters/nmfs-openscapes/cluster.yaml
Owners: none

Add missing selector key
  helm-charts/basehub/values.jsonnet
Owners: none

feat: add alertmanager routes
  config/clusters/earthscope/support.values.yaml
Owners: none

feat: update priority
  config/clusters/earthscope/support.values.yaml
Owners: none

feat: add receiver for usage quotas system
  helm-charts/support/enc-support.secret.values.yaml
Owners: none
