Repository 2i2c-org/infrastructure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freitagb, @wildintellect, @batpad, @smk0033

feat: add jq, yq to devShells (#7633)
  flake.nix
Owners: none

Update subPaths and mountPropagation for s3fs-volume
  config/clusters/maap/common.values.yaml
Owners: @wildintellect, @batpad

Fix CryoCloud PACE image tag
  config/clusters/nasa-cryo/common.values.yaml
Owners: none

Bump version and rm outdated note
  helm-charts/support/Chart.yaml
Owners: none

fix: set pull policy on dubois
  config/clusters/dubois/common.values.yaml
Owners: none

fix: set pull policy on dubois (#7643)
  config/clusters/dubois/common.values.yaml
Owners: none

[CloudBank] gpu-demo increased hard quota
  config/clusters/cloudbank/gpu-demo.values.yaml
Owners: none

feat: restore labi
  config/clusters/catalystproject-latam/labi.values.yaml
Owners: none

feat: restore labi (#7650)
  config/clusters/catalystproject-latam/labi.values.yaml
Owners: none

Update Docker images for Pangeo and Symfluence
  config/clusters/awi-ciroh/prod.values.yaml
Owners: none

Bump z2jh chart version
  helm-charts/basehub/Chart.yaml
  helm-charts/images/hub/Dockerfile
Owners: none

Update hub image tag
  helm-charts/basehub/values.yaml
Owners: none

Disable refresh user behaviour for now on hubs that have auth state enabled
  config/clusters/disasters/common.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/jupyter-health/common.values.yaml
  config/clusters/maap/common.values.yaml
Owners: @freitagb, @wildintellect, @batpad

JupyterHealth uses refresh users
  config/clusters/jupyter-health/common.values.yaml
Owners: none

fix: set up exit status code to fail
  .github/workflows/recurrent-open-source.yaml
Owners: none

fix: set up exit status code to fail (#7659)
  .github/workflows/recurrent-open-source.yaml
Owners: none

Update image version for ngiab to v1.2.2
  config/clusters/awi-ciroh/prod.values.yaml
Owners: none

Fix recurrent issues week computation
  .github/workflows/recurrent-incident-reporting.yaml
  .github/workflows/recurrent-incident-resolution-review.yaml
Owners: none

fix: deal with leading zero
  .github/workflows/recurrent-open-source.yaml
  .github/workflows/recurrent-support-work.yaml
Owners: none

fix: deal with leading zero (#7667)
  .github/workflows/recurrent-open-source.yaml
  .github/workflows/recurrent-support-work.yaml
Owners: none

fix: improve nix-ness of flake
  flake.nix
Owners: none

fix: drop flake-utils
  flake.lock
  flake.nix
Owners: none

Fix: improve nix config (#7669)
  flake.lock
  flake.nix
Owners: none

Undo uses of custom hub image and chart override now that we're using it by default
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/common.values.yaml
  config/clusters/disasters/cluster.yaml
  config/clusters/disasters/staging.values.yaml
  config/clusters/jupyter-health/cluster.yaml
  config/clusters/jupyter-health/common.values.yaml
  config/clusters/maap/cluster.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/cluster.yaml
  config/clusters/opensci/common.values.yaml
  config/clusters/opensci/small-binder.values.yaml
Owners: none

Rm asssets as well
  helm-charts/basehub/Z2jh-4.3.3-chart.yaml
  helm-charts/chartpress.yaml
  helm-charts/images/hub/Dockerfile-z2jh-433
Owners: none

Add comment and rm from staging
  config/clusters/disasters/common.values.yaml
  config/clusters/disasters/staging.values.yaml
  config/clusters/earthscope/common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/maap/staging.values.yaml
Owners: @freitagb, @wildintellect, @batpad

Turn extraVolumes into dicts
  config/clusters/hhmi/spyglass.values.yaml
  config/clusters/hhmi/staging.values.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
  docs/howto/features/ephemeral.md
  docs/howto/features/per-user-db.md
  helm-charts/basehub/values.yaml
Owners: none

Correct the indentation
  config/clusters/nasa-cryo/common.values.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/openscapeshub/common.values.yaml
  config/clusters/smithsonian/common.values.yaml
Owners: none

Update jupyterhub version in lis custom chart
  config/clusters/2i2c-uk/lis-chart.yaml
Owners: none

Be consistent with the naming and rm unneded config
  config/clusters/2i2c-uk/lis.values.yaml
  config/clusters/disasters/common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/maap/staging.values.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
Owners: @freitagb, @wildintellect, @batpad

[Cloudbank] bmcc added
  config/clusters/cloudbank/bmcc.values.yaml
  config/clusters/cloudbank/cluster.yaml
  config/clusters/cloudbank/enc-bmcc.secret.values.yaml
  terraform/gcp/projects/cloudbank.tfvars
Owners: none

Update modify_pod_hook func
  helm-charts/basehub/values.yaml
Owners: none

feat: add incident URL to P1 workflow
  .github/workflows/p1-outage-actions.yaml
Owners: none

feat: add incident URL to P1 workflow (#7680)
  .github/workflows/p1-outage-actions.yaml
Owners: none

feat: enable alert for proxy restarts
  helm-charts/support/values.jsonnet
Owners: none

No need for conditional, fix default
  helm-charts/basehub/values.yaml
Owners: none

Use None to override dict instead of the empty dict
  config/clusters/awi-ciroh/workshop.values.yaml
  config/clusters/cloudbank/ahs.values.yaml
  config/clusters/cloudbank/high.values.yaml
  config/clusters/dubois/ephemeral.values.yaml
  config/clusters/earthscope/binder.values.yaml
  config/clusters/hhmi/binder.values.yaml
  config/clusters/hhmi/spyglass.values.yaml
  config/clusters/hhmi/staging.values.yaml
  config/clusters/leap/public.values.yaml
  config/clusters/nasa-ghg-hub/binder.values.yaml
  config/clusters/nasa-veda/binder.values.yaml
  config/clusters/nmfs-openscapes/noaa-only.values.yaml
  config/clusters/nmfs-openscapes/workshop.values.yaml
  config/clusters/openscapeshub/workshop.values.yaml
  config/clusters/opensci/big-binder.values.yaml
  config/clusters/opensci/climaterisk.values.yaml
  config/clusters/opensci/small-binder.values.yaml
  config/clusters/projectpythia-binder/binderhub.values.yaml
  config/clusters/projectpythia/pythia-binder.values.yaml
  config/clusters/reflective/workshop.values.yaml
  config/clusters/strudel/common.values.yaml
  config/clusters/templates/common/binderhub-ui-hub.values.yaml
  docs/howto/features/binderhub-ui.md
  docs/howto/features/ephemeral.md
  docs/hub-deployment-guide/configure-auth/shared-password.md
  helm-charts/basehub/values.schema.yaml
Owners: none

Fix schema
  helm-charts/basehub/values.schema.yaml
Owners: none

Use a 0 prefix for common config
  config/clusters/disasters/common.values.yaml
  config/clusters/leap/daskhub-common.values.yaml
  config/clusters/maap/common.values.yaml
  config/clusters/nasa-veda/common.values.yaml
  config/clusters/nmfs-openscapes/common.values.yaml
  config/clusters/openscapeshub/common.values.yaml
  config/clusters/smithsonian/common.values.yaml
  config/clusters/ucmerced/common.values.yaml
Owners: @freitagb, @wildintellect, @batpad

feat: enable alert for proxy restarts (#7682)
  helm-charts/support/values.jsonnet
Owners: none

.github/CODEOWNERS:

/config/clusters/disasters/common.values.yaml @freitagb
/config/clusters/maap/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-veda/common.values.yaml @wildintellect @batpad
/config/clusters/nasa-ghg-hub/common.values.yaml @smk0033
