Repository 2i2c-org/infrastructure, pull requests merged in 2024-09, with the labels that each got.

#4752 deployer: add aws cluster.yaml file generation for parity with gcp
  config/clusters/templates/aws/cluster.yaml
  deployer/commands/generate/dedicated_cluster/aws.py
  docs/hub-deployment-guide/new-cluster/new-cluster.md
Labels: deployer:skip-deploy

#4764 cert-manager: upgrade from v1.12.1 to v1.13.6
  deployer/commands/deployer.py
  deployer/commands/generate/helm_upgrade/decision.py
  deployer/commands/generate/helm_upgrade/jobs.py
Labels: deployer:skip-deploy-hubs

#4765 deployer: respect deployer:skip-deploy-hubs, :deploy-hubs, :deploy-support labels
  deployer/commands/generate/helm_upgrade/decision.py
  deployer/commands/generate/helm_upgrade/jobs.py
Labels: deployer:deploy-support

#4766 cert-manager: upgrade from v1.13.6 to v1.14.7
  deployer/commands/deployer.py
Labels: deployer:skip-deploy-hubs, deployer:deploy-support

#4767 cert-manager: upgrade from v1.14.7 to v1.15.3
  deployer/commands/deployer.py
Labels: deployer:skip-deploy-hubs, deployer:deploy-support

#4774 deployer: update resource requests data etc for r7i machines
  deployer/commands/generate/resource_allocation/daemonset_requests.yaml
  deployer/commands/generate/resource_allocation/instance_capacities.yaml
  deployer/commands/generate/resource_allocation/node-capacity-info.json
Labels: deployer:skip-deploy

#4777 nmfs-openscapes: fix resource allocation for r7i nodes
  config/clusters/nmfs-openscapes/common.values.yaml
  deployer/commands/generate/resource_allocation/node-capacity-info.json
Labels: deployer:skip-deploy

#4779 nmfs-openscapes: second attempt fix for r7i nodes instance sizes
  config/clusters/nmfs-openscapes/common.values.yaml
  deployer/commands/generate/resource_allocation/node-capacity-info.json
Labels: deployer:skip-deploy

#4782 nmfs-openscapes: fix grafana github login
  config/clusters/nmfs-openscapes/support.values.yaml
Labels: deployer:skip-deploy

#4803 Add optional extra NFS mount to root_homes command
  deployer/commands/exec/infra_components.py
Labels: deployer:skip-deploy

#4836 Add an optional debug flag to validate commands running helm template
  deployer/commands/validate/config.py
Labels: deployer:skip-deploy

#4863 aws-ce-grafana-backend: allow namespace local grafana instances access
  helm-charts/aws-ce-grafana-backend/templates/netpol.yaml
  helm-charts/aws-ce-grafana-backend/values.schema.yaml
  helm-charts/aws-ce-grafana-backend/values.yaml
Labels: allocation:product-dev
